@import "../../scss/_function-mixin";
@import "../../scss/variables";

.wrapper-product{
  	padding:20px ;
}
.product{
	&-item {
		position: relative;
		width: 300px;
		margin: 0 auto;
		padding: 10px;
		margin-top:5px;
		margin-bottom:5px;
		background: white;
		font-family: "Open Sans";
		overflow: hidden;
		transition: .4s linear;
		&:hover{
			box-shadow: 0 0 5px rgba(61, 61, 61, 0.5);
     
    	}
  	}
	&-img {
		padding: 20px 0;
		transition: 1s ease-in-out;
		text-align: center;
		& .image {
			display: block;
			width: 200px;
			height: 200px;
		}
	}
	&-list {
		margin-top: 15px;
		& h3 {
			font-weight: 700;
			color: #39404B;
			margin: 0;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 2;
		}
	}
	&-like{
		position: absolute;
		top: 5px;
		right: 5px;
	}  
}

	.price {
		color: #E34D38;
		display: block;
		margin-bottom: 12px;
	}
	
	
	.cart-button{
		width: 50%;
		background-color: rgba(8, 6, 114, 0.8);
		padding: 5px;
		border: none;
		border-radius: 10px;
		color: rgb(172, 170, 170);
		color: white;
		font-size: 18px;
		&:focus{
		outline: none;
		}
		&:nth-child(2){
		background-color: rgba(255, 0, 0, 0.8);
		}
	}
	
	
	