@import "../../scss/_function-mixin";
@import "../../scss/variables";

.catalog{
    &-list{
        display: flex;
        
        // min-width: 200px;
        border-top: none;
        padding: 5px 0;
        background-color: white;
        // height: 100vw;
        transition-duration: 10s; 
        &-absolute{
            display: none;
            transition-duration: 10s; 
        }
        &::after{

        }
    }
    &-item{
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        font-size: 15px;
        &:not(:first-child){
            margin-left: 10px;
            
        }
        // &:hover{
        //     font-weight: bold;
        //     box-shadow: 0 0 5px rgba(0,0,0,0.5)
        
        // }
    // &__arrow{
    //         opacity: 0;
    //         background-image: url('../../scss/images/catalog-arrow.svg');
    //         background-repeat: no-repeat;
    //         width: 20px;
    //         height: 20px;
    //     }
    //     &:hover &__arrow{
    //         opacity: 1;
    //     }
    }
}