@import "../../scss/_function-mixin";
@import "../../scss/variables";

.topline{
    @include disp-flex(space-between);
    padding:10px 0;
    position: relative;
    &__link{
        text-decoration: none;
        color:$white;
    }
    &::after{
        content: '';
        position: absolute;
        top:0;
        bottom: 0;
        right: -25px;
        left: -25px;
        background-color: black;
        z-index: -1;
    }
} 
.bottomline{
    @include disp-flex(space-between,center);
    padding:10px 0;
}

.logo{
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
.header-wrapper{
    margin-bottom: 40px;
    &::after{
        content: '';
        position: absolute;
        top:0;
        height: 185px;
        right: 0;
        left: 0;
        box-shadow: 0px 4px 10px rgba(128, 88, 88, 0.2);
        z-index: -1;
    }
}