.user-profile{
    display: flex;
    justify-content: space-between;
    &__liked{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        // flex-wrap: wrap;
        // justify-content:space-between;
        padding: 0 20px;
        & .product-item{
            transform: scale(1);
            // margin: 0;
        }
    }
    ol{
        list-style-type: none;
        min-width: 200px;
        padding: 0;
        & a,li{
            &:not(:last-child){
                display: block;
                margin-bottom: 20px;
                color:black;
            }
            &:first-child{
                display: inline-block;
                padding-bottom: 10px;
                // border-bottom: 1px solid rgb(4, 121, 156);
                color:rgb(4, 121, 156);
                position: relative;
                & span:last-child{
                        position: absolute;
                        font-size: 13px;
                        bottom: 10px;   
                    }

            }
            & svg{
                margin-right: 10px;
            }
            &:hover{
                cursor: pointer;
            }
        }    
    }
}
