@import 'font';
@import 'variables';
@import 'function-mixin';
@import 'libs/normalize';

@import 'components/all';

*,*::after,*::before {
    box-sizing: border-box;    
}

.wrapper{
   width: calc(100vw - 100px);
   margin: 0 auto; 
}
 